
 :root{
    --color-info: #a739e4;
 }
 body{
    /* width: 100%;
    height: 100vh; */
    /* background: url("../assets/white-concrete-textures.jpg"); */
    /* background-color:#eff9ff; */
    background-color: var(--color-brand-50, #eff9ff);

    
} 

.form-control {
    max-width: 20rem ; 
    width: 100%; 
    border-color: var(--color-neutral-900,#0f172a);  
}

.form-control:focus {
    border-color: var(--color-neutral-900,#0f172a); 
    box-shadow: 0 0 8px rgba(17, 16, 17, 0.5); 
    outline: none; 
}

.name {
    background-color:var(--color-brand-50,#eff9ff);
    padding: 40px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  */
    max-width: 500px;
    margin: 0 auto;
}
 #formImage{
    border-radius: 3rem;
    box-shadow: 0 4px 10px rgba(201, 7, 7, 0.1);
    
}

.btn-dark {
    /* background-color: var(--color-neutral-900 ,#0f172a); */
    background-color: var( --color-brand-600, #08090a);
    border-color: var( --color-info-800,#7926a3);
    border-width: 0.5 rem;
    font-weight: 500;
    border-radius: 30px; 
}

.custom-modal .modal-dialog {
    max-width: 300px; 
    margin: 1.75rem auto;
}


#togglePassword {
    position: absolute;
    top: 50%;
    right: 1rem; 
    transform: translateY(-50%);
    z-index: 2;
}

.form-control {
    padding-right: 2rem; 
}

.eye-icon {
    font-size: 1rem;
    width: auto; 
    height: auto; 
    padding: 0;
    margin-top: 1rem;
    margin-right: 3rem;
}

 
  .toast {
    visibility: hidden;  
    min-width: 10rem;
    background-color: var(--color-neutral-900,#0f172a);
    color: var(--color-monowhite-50,#ffffff);
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
    position: fixed;
    top: 30px;
    left: 50%;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s ease;
  }
  
  .toast.show {
    visibility: visible;
    opacity: 1;
  }
